# clion idea folder
**/.idea/

# clion cmake-build folder
**/cmake-build-*/

# build folder
**/build*/

# test folder
**/test/

# log file
*.log

# Result analysis program
analyze_results

# Download the dataset for testing
**/*dataset*/

# Python cache files
**/*.egg-info/
